<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List of Doctors</title>
</head>
<style>
  body {
    text-align: center;
  }
</style>
<body>
<h1>Make an appointment with a doctor</h1>
<p>Choose the doctor you need and make an appointment for a specific time.</p>
<img th:src="@{/omis.jpg}"/>
<form method="POST" th:object="${omiss}">
  <div class="grid">
    <div class="doctors-group" id="aminas">
      <h3>Dentist: Amina Zhenisova</h3>
      <div th:each="ingredient : ${amina}">
        <input th:field="*{doctors}" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
    </div>
    <div class="doctors-group" id="bayans">
      <h3>Ophthalmologist: Bayan Buitek</h3>
      <div th:each="ingredient : ${bayan}">
        <input th:field="*{doctors}" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
    </div>
    <div class="doctors-group" id="timurs">
      <h3>Therapist: Timur Merekeyev</h3>
      <div th:each="ingredient : ${timur}">
        <input th:field="*{doctors}" type="checkbox" th:value="${ingredient.id}"/>
        <span th:text="${ingredient.name}">INGREDIENT</span><br/> </div>
    </div>
  </div>
  <div>
    <h3>Please write your full name:</h3>
    <input type="text" th:field="*{name}"/>
    <br/>
    <button>Make an appointment</button>
  </div>
</form>
</body>
</html>