<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OMIS</title>
</head>

<style>
    body {
        text-align: center;
    }

</style>
<body>
<form method="POST" th:action="@{/apptodoctor}" th:object="${omisDoctors}"> <h1>Make an appointment!</h1>
    <img th:src="@{/omis.jpg}"/>
    <h3>Description of what is bothering:</h3>
    <a th:href="@{/design}" id="another">Make an appointment with another doctor:</a><br/> <ul>
        <li th:each="omiss : ${omisDoctors.appdoctors}">
            <span th:text="${omiss.name}">Description of what is bothering</span></li>
    </ul>
    <h3>Please fill in the details to make an appointment:</h3>
    <label for="firstName">First Name: </label>
    <input type="text" th:field="*{firstName}"/>
    <br/>
    <label for="secondName">Second name: </label>
    <input type="text" th:field="*{secondName}"/>
    <br/>
    <label for="middleName"> Middle name: </label>
    <input type="text" th:field="*{middleName}"/>
    <br/>
    <label for="dateOfBirth">Date of Birth: </label>
    <input type="text" th:field="*{dateOfBirth}"/>
    <br/>
    <input type="submit" value="Submit Order"/>
</form>
</body>
</html>